@font-face {
  font-family: "Museo";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl_500.woff") format("woff"), url("../fonts/MuseoSansCyrl_500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Museo";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl_700.woff") format("woff"), url("../fonts/MuseoSansCyrl_700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Museo";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Museo";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

* ::-moz-selection {
  background: #bca18a;
  color: #fff;
}

* ::selection {
  background: #bca18a;
  color: #fff;
}

html {
  font-size: 0.52vw;
}

body {
  color: #010101;
  background-color: #e5e5e5;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

._container {
  max-width: 117rem;
  margin: 0 auto;
}

#aura {
  position: absolute;
  border-radius: 100%;
  -webkit-transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -o-transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 10000;
  width: 7.6rem;
  height: 7.6rem;
  border: 0.1rem solid rgba(188, 161, 138, 0.8);
  background-color: rgba(188, 161, 138, 0.027);
  -webkit-transform: translate(5px, 5px);
      -ms-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

#aura._active {
  border: 0.3rem solid #bca18a;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

#aura._activeBtn {
  border: 0.3rem solid white;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

#aura.hidden {
  -webkit-transform: scale(0.001);
      -ms-transform: scale(0.001);
          transform: scale(0.001);
}

.title {
  font-family: Roboto;
  font-weight: 500;
}

img {
  pointer-events: none;
}

.bg {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: -100;
}

.bg img {
  width: 192rem;
}

a {
  color: inherit;
}

.form {
  padding: 6.4rem 5.8rem 4rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.form-item {
  border-bottom: solid 0.3rem #000000;
  margin: 0rem 0rem 4.2rem 0rem;
}

.form-input {
  background: none;
  font-size: 2.4rem;
  color: #717171;
  width: 100%;
  padding: 1.5rem 0rem 1.5rem 0rem;
}

.form-btn {
  text-align: center;
}

.form-btn button {
  padding: 3.6rem 11rem;
}

.button {
  -webkit-font-smoothing: antialiased;
  background-color: #bca18a;
  border: none;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Montserrat", sans-serif;
  font-size: 1.85rem;
  font-weight: 700;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 1.4px;
  padding: 3.6rem 11rem;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  text-align: center;
}

.button:hover {
  background-color: #bca18a;
  color: #fff;
}

.button:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.button--bubble {
  position: relative;
  z-index: 2;
  color: white;
  background: none;
}

.button--bubble:hover {
  background: none;
}

.button--bubble:hover + .button--bubble__effect-container .circle {
  background: #dcbe81;
}

.button--bubble:hover + .button--bubble__effect-container .button {
  background: #dcbe81;
}

.button--bubble:active + .button--bubble__effect-container {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.button--bubble__container {
  position: relative;
  display: inline-block;
}

.button--bubble__container .effect-button {
  position: absolute;
  width: 50%;
  height: 25%;
  top: 50%;
  left: 25%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #bca18a;
  -webkit-transition: background 0.1s ease-out;
  -o-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}

.button--bubble__effect-container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  -webkit-filter: url("#goo");
  filter: url("#goo");
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  pointer-events: none;
}

.button--bubble__effect-container .circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background: #bca18a;
  -webkit-transition: background 0.1s ease-out;
  -o-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}

.button--bubble__effect-container .circle.top-left {
  top: 40%;
  left: 27%;
}

.button--bubble__effect-container .circle.bottom-right {
  bottom: 40%;
  right: 27%;
}

.goo {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

@-webkit-keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.header {
  position: relative;
}

.header__content {
  padding: 3.2rem 0rem 17.7rem 0rem;
  position: relative;
}

.header__down {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 100%;
  bottom: 5rem;
  text-align: center;
  z-index: 10;
  cursor: pointer;
  padding: 3rem;
  -webkit-animation: animDown 1.3s linear infinite;
          animation: animDown 1.3s linear infinite;
}

.header__down img {
  max-width: 3rem;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 120.2rem;
  margin: 0rem auto 17rem;
  text-align: center;
}

.header__title {
  position: relative;
  font-size: 9rem;
  font-weight: 900;
  text-transform: uppercase;
  max-width: 92rem;
  margin: 0rem auto 9rem;
}

.header__title-item {
  position: relative;
}

.header__title-item:first-child {
  margin: 0rem 0rem 3.8rem 0rem;
}

.header__title-item:nth-child(2) {
  z-index: 10;
  text-align: right;
  margin: 0rem 0rem 14.6rem 0rem;
}

.header__title-item:nth-child(3) {
  text-align: center;
}

.header__title-dop {
  position: absolute;
}

.header__title-plus {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -10;
}

.header__title-plus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 55rem;
  height: 15.3rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.header__title-plus::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 55rem;
  width: 15.3rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.header__title-hand {
  top: 42%;
  left: 47%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 68rem;
}

.header__title-circle {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -9;
  max-width: 66rem;
}

.header__text {
  text-align: center;
  font-size: 2.5rem;
  max-width: 62rem;
  margin: 0rem auto 4.3rem;
}

.header__btn {
  text-align: center;
}

.header__btn a {
  padding: 1.95em 1.8em;
}

.header__bg {
  top: 0;
}

.nav-header__item {
  position: relative;
  font-size: 2.2rem;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  padding: 2rem 0rem;
}

.nav-header__item:hover {
  opacity: 0.6;
}

.nav-header__space {
  width: 10rem;
}

@-webkit-keyframes animDown {
  0% {
    bottom: 5rem;
  }

  50% {
    bottom: 6rem;
  }

  100% {
    bottom: 5rem;
  }
}

@keyframes animDown {
  0% {
    bottom: 5rem;
  }

  50% {
    bottom: 6rem;
  }

  100% {
    bottom: 5rem;
  }
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefit {
  position: relative;
  background-color: #1b1b1b;
}

.benefit__content {
  color: #d5d5d5;
  padding: 0rem 0rem 0rem 0rem;
}

.benefit__title {
  text-align: center;
  font-size: 4.8rem;
  margin: 0rem 0rem 7.2rem 0rem;
}

.benefit__title-img {
  margin: 0.2rem 0px 0px 0px;
  overflow: hidden;
}

.benefit__title-img img {
  max-width: 65rem;
}

.benefit__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100rem;
  margin: 0rem auto;
  position: relative;
  z-index: 10;
}

.benefit__dnk {
  position: absolute;
  top: 10rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 0;
}

.benefit__dnk img {
  max-width: 220.5rem;
}

.benefit__bg-top {
  top: -35rem;
}

.benefit__bg-bottom {
  bottom: -28rem;
}

.inner-benefit__item {
  position: relative;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding: 6rem 4.5rem;
  border: solid 0.2rem #bca18a;
  margin: 0rem 0rem 37.6rem 0rem;
}

.inner-benefit__item:nth-child(even) {
  top: -4.8rem;
}

.inner-benefit__item:nth-child(3) {
  margin: 0rem 0rem 0rem 0rem;
}

.inner-benefit__item:nth-child(4) {
  margin: 0rem 0rem 0rem 0rem;
}

.inner-benefit__text {
  font-size: 2rem;
  line-height: 1.5;
}

.inner-benefit__num {
  font-family: Roboto;
  position: absolute;
  font-size: 6rem;
  color: #fff;
  width: 11.8rem;
  height: 11.8rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.inner-benefit__num span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-image: -o-linear-gradient(70deg, #c7ee03, #f315d0, #0f9cf3);
  background-image: linear-gradient(20deg, #c7ee03, #f315d0, #0f9cf3);
  width: 10rem;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inner-benefit__num::after {
  content: "";
  z-index: -1;
}

.inner-benefit__num-1 {
  right: 3rem;
  bottom: -5rem;
}

.inner-benefit__num-2 {
  left: 13rem;
  bottom: -7rem;
}

.inner-benefit__num-3 {
  top: -5rem;
  right: 7rem;
}

.inner-benefit__num-3 span {
  top: 50.8%;
}

.inner-benefit__num-4 {
  top: -7rem;
  left: 10rem;
  padding: 0rem 0.5rem 0rem 0rem;
}

.inner-benefit__num-4 span {
  left: 49.85%;
  top: 50.8%;
}

.consult__content {
  padding: 34rem 0rem 23rem 0rem;
}

.consult__title {
  position: relative;
  font-size: 4.8rem;
  line-height: 1.2;
  max-width: 85rem;
  margin: 0rem 0rem 8rem 0rem;
}

.consult__title-free {
  position: absolute;
  right: 9rem;
  bottom: 6rem;
}

.consult__title-free img {
  max-width: 13.4rem;
}

.consult__title-img {
  margin: 1rem 0rem 0rem 0rem;
}

.consult__title-img img {
  max-width: 65rem;
}

.consult__title-arrow {
  position: absolute;
  right: 11rem;
  bottom: -5rem;
}

.consult__title-arrow img {
  max-width: 4.4rem;
}

.consult__form {
  position: relative;
  max-width: 68.4rem;
  z-index: 10;
}

.consult__form-book {
  position: absolute;
  right: -60rem;
  top: -5rem;
  z-index: -10;
}

.consult__form-book img {
  max-width: 67rem;
}

.consult__form-glich {
  position: absolute;
  right: -49rem;
  top: 25rem;
  z-index: -10;
}

.consult__form-glich img {
  max-width: 47rem;
}

.smm {
  position: relative;
  background-color: #1b1b1b;
}

.smm__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  color: #e5e5e5;
}

.smm__bubble {
  top: -35rem;
  z-index: 0;
}

.smm__wrap {
  max-width: 60rem;
  position: relative;
  z-index: 10;
}

.smm__title {
  font-size: 4.8rem;
  margin: 0rem 0rem 4.7rem 0rem;
}

.smm__title-img img {
  max-width: 46.4rem;
}

.smm__inner {
  padding: 0rem 0rem 0rem 13.8rem;
}

.smm__phone {
  position: absolute;
  left: 2rem;
  top: 0;
  z-index: 11;
}

.smm__phone-inner {
  background-color: #fff;
  width: 45rem;
  height: 96rem;
  border-radius: 5rem;
  -webkit-transform: skew(11.4deg);
      -ms-transform: skew(11.4deg);
          transform: skew(11.4deg);
  overflow: hidden;
  text-align: center;
}

.smm__phone-inner-item {
  position: relative;
  -webkit-text-stroke: 0.1rem #141414;
  color: transparent;
  font-size: 16rem;
  font-weight: 700;
  -webkit-animation: anim 25s linear infinite;
          animation: anim 25s linear infinite;
}

.smm__phone-inner-item.dark {
  color: #141414;
}

.smm__phone-bg {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 48.5%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.smm__phone img {
  max-width: 66.1rem;
}

.smm__bg-top {
  top: -28rem;
}

.smm__bg-bottom {
  bottom: -47rem;
}

.inner-smm__title {
  font-size: 3.6rem;
  font-weight: 700;
  margin: 0rem 0rem 2rem 0rem;
}

.inner-smm__item {
  font-size: 2.4rem;
  margin: 0rem 0rem 2rem 0rem;
}

.inner-smm__item:last-child {
  margin: 0rem 0rem 0rem 0rem;
}

.inner-smm__item span {
  color: #bca18a;
}

.inner-smm__btn {
  margin: 6rem 0rem 0rem 0rem;
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, -500%);
            transform: translate(0, -500%);
  }

  100% {
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
  }
}

@keyframes anim {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, -500%);
            transform: translate(0, -500%);
  }

  100% {
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
  }
}

.target {
  position: relative;
}

.target__content {
  padding: 124.3rem 0rem 20rem 0rem;
}

.target__img {
  top: 30rem;
  z-index: -110;
}

.target__btn {
  text-align: center;
}

.promo__content {
  padding: 0rem 0rem 17.8rem 0rem;
}

.promo__wrap {
  margin: 0rem 0rem 17.5rem 0rem;
  position: relative;
}

.promo__wrap:last-child {
  margin: 0rem 0rem 0rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.promo__inner {
  max-width: 50.4rem;
}

.promo__img {
  position: absolute;
  right: -29rem;
  top: -12rem;
  z-index: -10;
}

.promo__img img {
  max-width: 98rem;
}

.promo__img-2 {
  left: -41rem;
  top: -11rem;
  z-index: -20;
}

.promo__img-2 img {
  max-width: 118rem;
}

.inner-promo__title {
  font-size: 4.8rem;
  margin: 0rem 0rem 0rem 0rem;
}

.inner-promo__title-img img {
  max-width: 50rem;
}

.inner-promo__subtitle {
  font-size: 3.6rem;
  font-weight: 700;
  max-width: 42rem;
  margin: 0rem 0rem 4rem 0rem;
}

.inner-promo__text {
  font-size: 2.4rem;
  line-height: 3.6rem;
  margin: 0rem 0rem 7.4rem 0rem;
}

.inner-promo__text-item {
  margin: 0rem 0rem 2rem 0rem;
}

.payment {
  position: relative;
}

.payment__content {
  padding: 0rem 0rem 25.6rem 0rem;
}

.payment__title {
  font-size: 4.8rem;
  text-align: center;
  margin: 0rem 0rem 5.7rem 0rem;
}

.payment__title-img {
  margin: 1rem 0rem 0rem 0rem;
}

.payment__title-img img {
  max-width: 50rem;
}

.payment__from {
  max-width: 68.4rem;
  margin: 0rem auto;
  position: relative;
}

.payment__from .form {
  padding: 6.4rem 5.8rem 16.3rem;
}

.payment__from-hand {
  position: absolute;
  right: -5rem;
  bottom: 17rem;
}

.payment__from-hand img {
  max-width: 10.6rem;
}

.payment__from-mon {
  position: absolute;
  bottom: -42rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.payment__from-mon img {
  max-width: 85.3rem;
}

.payment__bg {
  bottom: -2rem;
}

.qus {
  background-color: #1b1b1b;
}

.qus__content {
  padding: 20rem 0rem 7.7rem 0rem;
  color: #fff;
  position: relative;
}

.qus__title {
  font-size: 4.8rem;
  text-align: center;
  margin: 0rem 0rem 7rem 0rem;
}

.qus__title-img {
  margin: 1rem 0rem 0rem 0rem;
}

.qus__title-img img {
  max-width: 67.7rem;
}

.qus__inner {
  max-width: 113rem;
  margin: 0rem auto 8.2rem;
}

.qus__text {
  font-size: 2.4rem;
  line-height: 1.3;
  text-align: center;
  max-width: 80.2rem;
  margin: 0rem auto;
}

.qus__text span {
  font-size: 3rem;
  display: block;
}

.qus__dop {
  position: absolute;
  padding: 0.5em 1em;
  border-radius: 4rem;
  font-size: 3.55rem;
  font-weight: 900;
  letter-spacing: 0.04em;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.qus__dop-1 {
  top: 26rem;
  left: -10rem;
  color: #c7ee03;
  border: solid 0.3rem #c7ee03;
}

.qus__dop-2 {
  top: 50rem;
  right: -15rem;
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
  color: #f315d0;
  border: solid 0.3rem #f315d0;
}

.qus__dop-3 {
  bottom: 7rem;
  left: 2rem;
  color: #1200ff;
  border: solid 0.3rem #1200ff;
}

.inner-qus._init .inner-qus__title::before,
.inner-qus._init .inner-qus__title::after {
  content: "";
  width: 3.6rem;
  height: 0.15rem;
  background-color: #fff;
  position: absolute;
  right: 2.4rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.inner-qus._init .inner-qus__title::after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.inner-qus._init .inner-qus__title._active::after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.inner-qus__item {
  font-size: 3rem;
  padding: 3.7rem 0rem;
  margin: 0rem 0rem 3.7rem 0rem;
  border-top: 0.2rem solid #fff;
  border-bottom: 0.2rem solid #fff;
}

.inner-qus__item:last-child {
  margin: 0rem 0rem 0rem 0rem;
}

.inner-qus__title {
  width: 100%;
  text-align: left;
  padding: 1rem 1rem;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  color: #fff;
  position: relative;
}

.inner-qus__title span {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 50%;
  border: 0.2rem solid #fff;
  width: 8.4rem;
  height: 8.4rem;
}

.inner-qus__text {
  margin: 4rem 0rem 0rem 0rem;
  line-height: 1.2;
  padding: 0rem 15rem 0rem 0rem;
}

@media (min-width: 1925px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 991.98px) {
  #aura {
    display: none;
  }

  .header__content {
    padding: 24.2rem 0rem 17.7rem 0rem;
  }

  .nav-header__item {
    text-align: right;
    font-size: 5.2rem;
    margin: 0rem 0rem 10rem 0rem;
    padding: 0rem 0rem;
  }

  main.lock {
    opacity: 0.6;
  }

  .header__burger {
    display: block;
    position: absolute !important;
    width: 7.5rem;
    height: 5.5rem;
    right: 107%;
    top: 5.1rem;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #010101;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.5rem;
    top: 50%;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #010101;
    position: absolute;
    width: 100%;
    height: 0.5rem;
    left: 0;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 1.2rem;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 1.2rem;
  }

  .header__nav {
    position: fixed;
    top: 0%;
    right: -50%;
    width: 50%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    padding: 10rem 10rem 5rem 3rem;
    z-index: 21;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__nav.active {
    right: 0;
  }

  .bg-mob {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(255, 255, 255, 0.35);
    -webkit-box-shadow: -14px 4px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow: -14px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -webkit-backdrop-filter: blur(9px);
            backdrop-filter: blur(9px);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .bg-mob.active {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 991.98px) and (max-width: 767.98px) {
  .header__burger {
    width: 5.3rem;
    height: 3.7rem;
    top: 2.6rem;
    left: -7.7rem;
  }

  .header__nav {
    padding: 10rem 3rem 5rem 2rem;
  }
}

@media (max-width: 767.98px) {
  html {
    font-size: 2.083vw;
  }

  .form {
    padding: 3.5rem 3.7rem 4rem;
  }

  .form-input {
    font-size: 1.7rem;
    text-align: center;
  }

  .form-btn button {
    font-size: 1.4rem;
    padding: 2.6rem 8rem;
  }

  .button:active {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .button--bubble:active + .button--bubble__effect-container {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .button {
    font-size: 1.4rem;
    color: #fff;
    padding: 2.6rem 8rem;
    background: #dcbe81;
  }

  .button--bubble__effect-container .circle {
    display: none;
  }

  .button--bubble__effect-container {
    filter: none;
    -webkit-filter: none;
  }

  .goo {
    display: none;
  }

  .header__content {
    padding: 12.1rem 0rem 15rem 0rem;
  }

  .header__title {
    font-size: 4.8rem;
    max-width: 36.8rem;
    margin: 0rem auto 6.7rem;
  }

  .header__title-item:first-child {
    margin: 0rem 0rem 8.5rem 0rem;
  }

  .header__title-item:nth-child(2) {
    margin: 0rem 0rem 5.5rem 0rem;
  }

  .header__title-plus::after {
    width: 33.5rem;
    height: 9.5rem;
  }

  .header__title-plus::before {
    height: 33.5rem;
    width: 9.5rem;
  }

  .header__title-hand {
    max-width: 35.3rem;
  }

  .header__title-circle {
    max-width: 37rem;
  }

  .header__text {
    font-size: 2rem;
    line-height: 1.2;
    max-width: 35rem;
    margin: 0rem auto 2rem;
  }

  .nav-header__item {
    font-size: 2.8rem;
    margin: 0rem 0rem 3.5rem 0rem;
  }

  .benefit__title {
    font-size: 3.2rem;
    margin: 0rem 0rem 3.4rem 0rem;
  }

  .benefit__title-img img {
    max-width: 41.3rem;
  }

  .benefit__title-img {
    margin: 1.3rem 0px 0px 0px;
  }

  .benefit__dnk {
    top: 62.5rem;
  }

  .benefit__dnk img {
    max-width: 100.5rem;
  }

  .benefit__bg-bottom {
    bottom: -8rem;
  }

  .inner-benefit__item:nth-child(even) {
    top: auto;
  }

  .inner-benefit__item:nth-child(2) {
    margin: 0rem auto 38rem;
  }

  .inner-benefit__item:nth-child(3) {
    margin: 0rem auto 8.4rem;
  }

  .inner-benefit__item:nth-child(4) {
    margin: 0rem auto 8.4rem;
  }

  .inner-benefit__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 35rem;
    margin: 0rem auto 8.4rem;
    padding: 3.3rem 3.3rem 6.7rem;
  }

  .inner-benefit__text {
    font-size: 1.8rem;
    text-align: center;
  }

  .inner-benefit__num span {
    width: 8rem;
    height: 8rem;
  }

  .inner-benefit__num::after {
    width: 9.2rem;
    height: 9.2rem;
    z-index: 10;
  }

  .inner-benefit__num {
    font-size: 5rem;
    width: 9.6rem;
    height: 9.6rem;
    right: auto;
    top: auto;
    left: 50%;
    bottom: -4.6rem;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .consult__content {
    padding: 15rem 0rem 9rem 0rem;
  }

  .consult__title {
    font-size: 3rem;
    text-align: center;
    max-width: 33rem;
    margin: 0rem auto 1.84rem;
  }

  .consult__title-free {
    margin: 1.5rem 0rem 0rem 0rem;
    position: relative;
    right: auto;
    bottom: auto;
    text-align: center;
  }

  .consult__title-free img {
    max-width: 10.9rem;
  }

  .consult__title-img {
    display: none;
  }

  .consult__title-arrow {
    z-index: 10;
    right: 1rem;
    bottom: -4rem;
  }

  .consult__form {
    margin: 0rem 2rem;
  }

  .consult__form-book {
    display: none;
  }

  .smm__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .smm__bubble {
    left: -10rem;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    top: 5rem;
  }

  .smm__bubble img {
    max-width: 80rem;
  }

  .smm__wrap {
    max-width: 100%;
  }

  .smm__title {
    font-size: 3rem;
    line-height: 1.2;
    text-align: center;
    margin: 0rem 0rem 53rem 0rem;
  }

  .smm__title-img img {
    max-width: 41.4rem;
  }

  .smm__title-img {
    margin: 2rem 0rem 0rem 0rem;
  }

  .smm__inner {
    padding: 0rem 0rem 0rem 0rem;
    text-align: center;
  }

  .smm__phone-inner-item {
    font-size: 7rem;
  }

  .smm__phone-inner {
    width: 16rem;
    height: 33.8rem;
    border-radius: 2rem;
  }

  .smm__phone img {
    max-width: 23.3rem;
  }

  .smm__phone {
    left: 6rem;
    top: 24rem;
  }

  .smm__bg-top {
    top: -18rem;
    left: 40%;
  }

  .smm__bg-top img {
    max-width: 120rem;
  }

  .smm__bg-bottom {
    bottom: -9rem;
    left: -80%;
  }

  .smm__bg-bottom img {
    max-width: 190rem;
  }

  .inner-smm__title {
    font-size: 3.2rem;
  }

  .inner-smm__item {
    font-size: 1.8rem;
  }

  .target__content {
    padding: 40.3rem 0rem 7rem 0rem;
  }

  .target__img {
    top: 3rem;
  }

  .target__img img {
    max-width: 70rem;
  }

  .promo__content {
    padding: 0rem 0rem 7rem 0rem;
  }

  .promo__wrap:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .promo__wrap:last-child .promo__img {
    top: 6rem;
    right: auto;
    left: 46.5%;
  }

  .promo__wrap:last-child .inner-promo__title {
    margin: 0rem 0rem 50rem 0rem;
  }

  .promo__wrap {
    margin: 0rem 0rem 4.6rem 0rem;
  }

  .promo__img {
    top: 8rem;
    right: auto;
    left: 56.5%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .promo__img img {
    max-width: 58rem;
  }

  .inner-promo__btn {
    text-align: center;
  }

  .inner-promo__title {
    font-size: 3rem;
    text-align: center;
    margin: 0rem 0rem 60.4rem 0rem;
  }

  .inner-promo__title-img {
    margin: 1rem 0rem 0rem 0rem;
  }

  .inner-promo__title-img img {
    max-width: 40rem;
  }

  .inner-promo__subtitle {
    font-size: 2.4rem;
    text-align: center;
    max-width: 30.4rem;
    margin: 0rem auto 2rem;
  }

  .inner-promo__text {
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
    max-width: 30.4rem;
    margin: 0rem auto 2rem;
  }

  .inner-promo__text-item {
    margin: 0rem 0rem 1.5rem 0rem;
  }

  .payment__content {
    padding: 0rem 0rem 17.6rem 0rem;
  }

  .payment__title {
    font-size: 3rem;
    margin: 0rem 0rem 3.6rem 0rem;
  }

  .payment__title-img img {
    max-width: 40rem;
  }

  .payment__from {
    margin: 0rem 2rem;
  }

  .payment__from-hand img {
    max-width: 5.5rem;
  }

  .payment__from-hand {
    right: 1rem;
    bottom: 7rem;
  }

  .payment__from-mon {
    bottom: -17rem;
  }

  .payment__from-mon img {
    max-width: 47.3rem;
  }

  .payment__bg {
    bottom: -20rem;
  }

  .qus__content {
    padding: 0rem 0rem 7.7rem 0rem;
  }

  .qus__title {
    font-size: 3rem;
    text-align: center;
    max-width: 30rem;
    margin: 0rem auto 3.5rem;
  }

  .qus__text span {
    font-size: 2.2rem;
    margin: 0rem 0rem 1rem 0rem;
  }

  .qus__text {
    font-size: 1.6rem;
    text-align: center;
    padding: 0rem 2rem;
  }

  .qus__dop {
    font-size: 1.8rem;
  }

  .qus__dop-1 {
    top: -6rem;
    left: auto;
    right: 1rem;
  }

  .qus__dop-2 {
    top: 46rem;
    left: 2rem;
    right: auto;
  }

  .qus__dop-3 {
    bottom: 22rem;
    left: auto;
    right: 1rem;
  }

  .inner-qus._init .inner-qus__title::before,
  .inner-qus._init .inner-qus__title::after {
    width: 2.6rem;
    height: 0.1rem;
    right: auto;
    left: 50%;
    top: auto;
    bottom: 0rem;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .inner-qus._init .inner-qus__title::after {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: 46.5%;
  }

  .inner-qus._init .inner-qus__title._active::after {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  .inner-qus__item:last-child {
    margin: 0rem auto;
  }

  .inner-qus__item {
    font-size: 2.2rem;
    line-height: 1.3;
    text-align: center;
    max-width: 36rem;
    margin: 0rem auto;
    padding: 3.7rem 0rem 3.7rem;
  }

  .inner-qus__title span {
    width: 5rem;
    height: 5rem;
    right: auto;
    top: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom: -2.4rem;
  }

  .inner-qus__title {
    font-size: 2.2rem;
    text-align: center;
    padding: 1rem 1rem 4rem;
  }

  .inner-qus__text {
    padding: 0rem 0rem 0rem 0rem;
    font-size: 1.8rem;
  }
}